:root {
  --background-color: #F5F5F5;
  --surface-color: #FFFFFF;
  --surface-secondary-color: #FAFAFA;
  --border-color: #EEEEEE;
  --primary-color: #5600e1;
  --secondary-color: #BDBDBD;
  --on-background-color: #000000;
  --on-surface-color: #000000;
  --on-primary-color: #FFFFFF;
  --on-secondary-color: #FFFFFF;
  --accent-color: #00C853;
  --on-accent-color: #FFFFFF;
  --text-size-large: 16px;
  --text-size-very-large: 20px;
  --text-size-medium: 14px;
  --border-radius: 4px;
}

:root.dark {
  --background-color: #000000;
  --surface-color: #121212;
  --surface-secondary-color: #161616;
  --border-color: #212121;
  --primary-color: #5600e1;
  --secondary-color: #616161;
  --on-background-color: #E0E0E0;
  --on-surface-color: #E0E0E0;
  --on-primary-color: #FFFFFF;
  --on-secondary-color: #FFFFFF;
  --accent-color: #00C853;
  --on-accent-color: #FFFFFF;
  --text-size-large: 16px;
  --text-size-very-large: 20px;
  --text-size-medium: 14px;
  --border-radius: 4px;
}

html, body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background: var(--background-color);
  margin: 0;
  color: var(--on-background-color);
}

.line {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--border-color);
}

.btn, a {
  -webkit-tap-highlight-color: transparent
}

.mono {
  font-family: Roboto Mono, Helvetica, Arial, sans-serif;
}

.tags span, .tags p {
  display: block;
  font-size: var(--text-size-medium);
  font-weight: 700;
}

.tags .item {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  /* border: 1px solid var(--border-color); */
  background-color: var(--surface-secondary-color);
  border-radius: var(--border-radius);
  font-family: Roboto Mono, Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::placeholder {
  color: var(--on-surface-color);
  filter: brightness(0.95);
  opacity: 1;
}

.full-width {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.square {
  display: flex;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.square p {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-color);
}

.avatar {
  height: 48px;
  width: 48px;
}

.photo {
  height: 69px;
  width: 69px;
  background-color: var(--surface-secondary-color);
}

.square img {
  max-width: 100%;
  max-height: 100%;

}

.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

/* BASE */
h4, h5, h6, p {
  margin: 0;
  padding: 0
}

p {
  font-size: var(--text-size-medium);
}

a {
  text-decoration: none;
}

a :hover {
  filter: brightness(0.8);
}

/* OFFSET */
.offset-2px {
  padding: 2px 0;
}

.offset-4px {
  padding: 4px 0;
}

.offset-6px {
  padding: 6px 0;
}

.offset-8px {
  padding: 8px 0;
}

.v-offset-2px {
  display: inline;
  padding: 0 2px;
}

.v-offset-4px {
  display: inline;
  padding: 0 4px;
}

.v-offset-6px {
  display: inline;
  padding: 0 6px;
}

.v-offset-8px {
  display: inline;
  padding: 0 8px;
}

/* SECTION */
.padding {
  padding: 12px;
  position: relative;
}

.colored {
  background: var(--surface-color);
  border: 1px solid var(--border-color);
}

.dashed {
  background-image: linear-gradient(135deg,
      var(--surface-color) 25%, var(--surface-secondary-color) 25%,
      var(--surface-secondary-color) 50%, var(--surface-color) 50%,
      var(--surface-color) 75%, var(--surface-secondary-color) 75%,
      var(--surface-secondary-color) 100%);
  background-size: 10px 10px;
  border-width: 2px;
  border-style: dashed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rounded {
  border-radius: var(--border-radius);
}

.rounded-top {
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.rounded-bottom {
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-top: none;
}

.section h5 {
  font-size: var(--text-size-large);
  font-weight: 700;
}

.section h4 {
  font-size: var(--text-size-very-large);
  font-weight: 700;
}

.with-icon {
  display: flex;
  align-items: center;
}

.with-icon span {
  font-size: var(--text-size-large);
  padding-right: 4px;
}

/* BUTTON */
.btn {
  display: inline-flex;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 6px 8px;
  font-size: var(--text-size-large);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}

.btn span {
  display: block;
  height: 100%;
  font-size: var(--text-size-large);
  margin-right: 4px;
  font-weight: 400;
}

.btn p {
  display: block;
  height: 100%;
  font-size: var(--text-size-large);
  font-weight: 400;
  line-height: 1;
}

.btn span:only-child {
  margin-right: 0px;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn:active {
  filter: brightness(0.8);
}

.btn:disabled {
  filter: brightness(0.9);
}

/* INPUT */
.input-data textarea {
  width: 100%;
  resize: none;
  padding: 6px;
}

.input-data select[disabled],
.input-data option[disabled],
.input-data textarea[disabled],
.input-data input[disabled] {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  opacity: 0.5;
  filter: brightness(0.95);
}

.input-data select,
.input-data option,
.input-data textarea,
.input-data input {
  width: 100%;
  background-color: var(--surface-secondary-color);
  color: var(--on-surface-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 6px;
  size: 6;
}

.input-data select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:rgba(1,1,1,0.6);" /></svg>');
  background-repeat: no-repeat, repeat;
  background-position: right 6px top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.input-data select,
.input-data option,
.input-data textarea,
.input-data input {
  font-size: var(--text-size-medium);
  font-weight: 400;
  font-family: Roboto Mono, Helvetica, Arial, sans-serif;
}

.input-data label {
  display: inline-block;
  font-size: var(--text-size-medium);
  font-weight: 400;
  color: var(--on-surface-color);
  padding-bottom: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--primary-color);
  -webkit-text-fill-color: var(--primary-color);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

select:focus,
option:focus,
textarea:focus,
input:focus {
  outline: none !important;
  border-color: var(--secondary-color);
}

/* LISTING */
.listing {
  overflow: hidden;
  margin-bottom: 12px;
}

.listing:last-child {
  margin-bottom: 0;
}

.listing a {
  font-size: var(--text-size-large);
  font-weight: 400;
  color: var(--on-surface-color);
  cursor: pointer;
  text-decoration: none;
}

.listing a:hover {
  text-decoration: underline;
}

/* COLOR */
.primary {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border: 1px solid var(--primary-color);
}

.accent {
  background-color: var(--accent-color);
  color: var(--on-accent-color);
  border: 1px solid var(--accent-color);
}

.primary-text {
  color: var(--primary-color);
}

.accent-text {
  color: var(--accent-color);
}