:root {
  --background-color: #F3F4FC;
  --surface-color: #FFFFFF;
  --surface-secondary-color: #f8f8f8;
  --border-color: #f2f2f2;
  --primary-color: #3D5AFE;
  --secondary-color: #BDBDBD;
  --accent-color: #00C853;
  --error-color: #E53935;
  --on-background-color: #000000;
  --on-surface-color: #000000;
  --on-primary-color: #FFFFFF;
  --on-secondary-color: #000000;
  --on-accent-color: #FFFFFF;
  --on-error-color: #FFFFFF;
  --text-size-very-large: 22px;
  --text-size-large: 18px;
  --text-size-medium: 16px;
  --text-size-small: 14px;
  --text-size-very-small: 12px;
  --border-radius: 6px;
}

:root.dark {
  --background-color: #09090b;
  --surface-color: #121317;
  --surface-secondary-color: #16181d;
  --border-color: #191a1f;
  --primary-color: #3D5AFE;
  --secondary-color: #434756;
  --accent-color: #00C853;
  --error-color: #E53935;
  --on-background-color: #E0E0E0;
  --on-surface-color: #E0E0E0;
  --on-primary-color: #E0E0E0;
  --on-secondary-color: #E0E0E0;
  --on-accent-color: #E0E0E0;
  --on-error-color: #E0E0E0;
  --text-size-very-large: 22px;
  --text-size-large: 18px;
  --text-size-medium: 16px;
  --text-size-small: 14px;
  --text-size-very-small: 12px;
  --border-radius: 6px;
}

html, body {
  font-family: Roboto, sans-serif;
  color: var(--on-background-color);
  background: var(--background-color);
  margin: 0;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

}

.scrollable-content {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 8px;
  -webkit-overflow-scrolling: touch;

}

nav {
  position: sticky;
  top: 0;
}

.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-bottom: 48px;
}

.footer {
  margin-top: auto;
}

.line {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--border-color);
}

.btn, .link, a {
  -webkit-tap-highlight-color: transparent
}

.mono {
  font-family: Roboto Mono, sans-serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::placeholder {
  color: var(--secondary-color);
  /* opacity: 0.5; */
}

.logo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* _BASE */
h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

p {
  font-family: Roboto, sans-serif;
  font-size: var(--text-size-medium);
}

a {
  text-decoration: none;
  color: var(--on-surface-color);
  font-size: var(--text-size-medium);
}

@media (hover: hover) and (pointer: fine) {
  a p:hover, .link:not(:disabled):hover p {
    text-decoration: underline;
  }

  .btn:not(:disabled):hover {
    opacity: 0.8;
  }

  .btn:not(:disabled):hover p {
    text-decoration: none;
  }
}

/* _OFFSET */
.offset-2px {
  padding: 2px 0;
}

.offset-4px {
  padding: 4px 0;
}

.offset-6px {
  padding: 6px 0;
}

.offset-8px {
  padding: 8px 0;
}

.v-offset-2px {
  display: inline;
  padding: 0 2px;
}

.v-offset-4px {
  display: inline;
  padding: 0 4px;
}

.v-offset-6px {
  display: inline;
  padding: 0 6px;
}

.v-offset-8px {
  display: inline;
  padding: 0 8px;
}

/* DISPLAY */
.d-inline * {
  display: inline;
}

.d-block * {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--secondary-color);
}

/* _SECTION */
.padding {
  padding: 12px;
  position: relative;
}

.padding-no-top {
  padding: 0 12px 12px 12px;
  position: relative;
}

.padding-no-bottom {
  padding: 12px 12px 0 12px;
  position: relative;
}

.v-padding {
  padding: 12px 0;
  position: relative;
}

.colored {
  background: var(--surface-color);
  border: 1px solid var(--border-color);
}

.hatch {
  background-image: linear-gradient(135deg,
      var(--surface-color) 25%, var(--surface-secondary-color) 25%,
      var(--surface-secondary-color) 50%, var(--surface-color) 50%,
      var(--surface-color) 75%, var(--surface-secondary-color) 75%,
      var(--surface-secondary-color) 100%);
  background-size: 10px 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dash {
  border: 2px dashed var(--border-color);
}

.rounded {
  border-radius: var(--border-radius);
}

.rounded-top {
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.rounded-bottom {
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-top: none;
}

.section h5 {
  font-size: var(--text-size-large);
  font-weight: 700;
}

.section h4 {
  font-size: var(--text-size-very-large);
  font-weight: 700;
}

.with-icon {
  display: flex;
  align-items: center;
}

.with-icon span {
  font-size: var(--text-size-large);
  padding-right: 4px;
}

/* _BUTTON */
.btn {
  display: inline-flex;
  box-sizing: border-box;
  border-width: 0px;
  border-radius: var(--border-radius);
  padding: 8px;
  /* font-size: var(--text-size-large); */
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--surface-secondary-color);
  color: var(--on-surface-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn span, .btn p {
  display: block;
  height: 100%;
  font-size: var(--text-size-large);
  font-weight: 400;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(1, 1, 1, .1);
}

.no-text-shadow p, .no-text-shadow span {
  text-shadow: none
}

.btn span {
  margin-right: 4px;
}

.btn span:only-child {
  margin-right: 0px;
}

.btn:disabled {
  opacity: 0.5;
  box-shadow: none;
}

.full-width {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.full-rounded {
  border-radius: 100px;
}


/* _HELP */
.help-label {
  display: inline-flex;
  align-items: center;
  padding: 2px 6px;
  background-color: var(--surface-secondary-color);
  color: var(--on-surface-color);
  border-radius: var(--border-radius);
}

.help-label p, .help-label span {
  display: inline-flex;
  font-size: var(--text-size-small);
  font-weight: 700;
}

/* _LINK */
.link {
  display: inline-flex;
  box-sizing: border-box;
  border-width: 0px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  color: var(--on-surface-color);
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link span {
  display: block;
  height: 100%;
  font-size: var(--text-size-medium);
  margin-right: 4px;
  font-weight: 400;
}

.link p {
  display: block;
  height: 100%;
  font-size: var(--text-size-medium);
  font-weight: 400;
  line-height: 1;
}

.link span:only-child {
  margin-right: 0px;
}

.link:disabled {
  opacity: 0.5;
}

/* _INPUT */
.input-data textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 6px;
}

.input-data select[disabled],
.input-data option[disabled],
.input-data textarea[disabled],
.input-data input[disabled] {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  opacity: 0.5;
}

.input-data select,
.input-data option,
.input-data textarea,
.input-data input {
  width: 100%;
  background-color: var(--surface-secondary-color);
  color: var(--on-surface-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 8px;
  size: 6;
}

.input-data + .input-price input {
  background-color: var(--surface-color);
  font-size: var(--text-size-very-large);
  font-weight: 700;
  color: var(--accent-color);
}

.input-data select,
.input-data input,
.input-data textarea,
.input-data option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:rgba(1,1,1,0.6);" /></svg>');
  background-repeat: no-repeat, repeat;
  background-position: right 6px top 50%, 0 0;
  background-size: .65em auto, 100%; */
}

.input-data select,
.input-data option,
.input-data textarea,
.input-data input {
  font-size: var(--text-size-medium);
  font-weight: 400;
  font-family: Roboto, sans-serif;
  ;
}

.input-data label {
  display: inline-block;
  font-size: var(--text-size-medium);
  font-weight: 400;
  color: var(--secondary-color);
  padding-bottom: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--primary-color);
  -webkit-text-fill-color: var(--on-background-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  box-shadow: 0 0 0px 1000px var(--background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

select:focus,
option:focus,
textarea:focus,
input:focus {
  outline: none !important;
  border-color: var(--secondary-color);
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

.with-action {
  position: relative;
}

.with-action .btn {
  position: absolute;

  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/* _LISTING */
.listing {
  overflow: hidden;
  margin-bottom: 12px;
}

.listing:last-child {
  margin-bottom: 0;
}

.listing a {
  font-size: var(--text-size-large);
  font-weight: 400;
  color: var(--on-surface-color);
  cursor: pointer;
  text-decoration: none;
}

.listing a:hover {
  text-decoration: underline;
}

/* _COMMENT */
.comment {
  overflow: hidden;
  margin-bottom: 12px;
}

.comment:last-child {
  margin-bottom: 0;
}


/* IMAGE */
.scroller {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.image {
  flex: 0 0 auto;
  background-color: var(--surface-secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.image img {
  max-height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  text-align: center;
  cursor: pointer;

}

.box-36 {
  height: 36px;
  width: 36px;
}

.box-48 {
  height: 48px;
  width: 48px;
}

.box-69 {
  width: 76px;
  height: 76px;
}

.scroller .image {
  margin: 0 4px;
}

.scroller .image:first-child {
  margin-left: 0;
}

.scroller .image:last-child {
  margin-right: 0;
}

.full-image {
  display: flex;
  background-color: var(--surface-secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.full-image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* _COLOR */
.transparent {
  background-color: transparent;
  color: var(--on-surface-color);
  border-width: 0;
}

.primary {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-width: 0;
}

.accent {
  background-color: var(--accent-color);
  color: var(--on-accent-color);
  border-width: 0;
}

.secondary {
  background-color: var(--border-color);
  color: var(--on-secondary-color);
  border-width: 0;
}

.surface {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  /* border: 1px solid var(--border-color); */
}

.error {
  background-color: var(--error-color);
  color: var(--on-error-color);
  border-width: 0;
}

.primary-text {
  color: var(--primary-color);
}

.accent-text {
  color: var(--accent-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.surface-text {
  color: var(--on-surface-color);
}

.disabled-text {
  color: var(--secondary-color);
}

.error-text {
  color: var(--error-color);
}

.input-data .error-select {
  color: var(--error-color);
}

.with-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(1, 1, 1, .05);
  -moz-box-shadow: 0 1px 2px rgba(1, 1, 1, .05);
  box-shadow: 0 1px 2px rgba(1, 1, 1, .05);
}

.with-shadow-inset {
  box-shadow: inset 0 1px 2px rgba(1, 1, 1, .3);
}

.with-border {
  border: 1px solid var(--border-color);
}

.opacity-5 {
  opacity: 0.5;
}

.condition10 {
  color: #4756d5;
}

.condition9 {
  color: #14C4CD;
}

.condition8 {
  color: #FFAB00;
}

.condition7 {
  color: #E53935;
}

.bold p {
  font-weight: 700;
}

/* _SIZE */
.text-very-small p {
  font-size: var(--text-size-very-small);
}

.text-small p {
  font-size: var(--text-size-small);
}

.text-large p {
  font-size: var(--text-size-large);
}

.text-large span {
  font-size: var(--text-size-very-large);
}

/* _SKELETON */

.skeleton .title {
  display: block;
  width: 65%;
  background-color: var(--surface-secondary-color);
  border-radius: var(--border-radius);
  padding: 8px 4px;
}

.skeleton .desc {
  display: block;
  width: 50%;
  background-color: var(--surface-secondary-color);
  border-radius: var(--border-radius);
  padding: 8px 4px;
}

.skeleton .image, .skeleton .title, .skeleton .desc {
  background-image:
    -webkit-linear-gradient(0.5turn, transparent, var(--surface-color), transparent);
  background-image:
    -o-linear-gradient(0.25turn, transparent, var(--surface-color), transparent);
  background-image:
    linear-gradient(0.25turn, transparent, var(--surface-color), transparent);
  background-repeat: no-repeat;
  background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

/* _FADE */
.section {
  -webkit-animation: fadein 0.1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.1s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.1s;
  /* Internet Explorer */
  -o-animation: fadein 0.1s;
  /* Opera < 12.1 */
  animation: fadein 0.1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}